<!DOCTYPE html>
<html lang="es">
<head>
    <title>Pala Store</title>
    <link rel="stylesheet" href="clase4abril.css">
</head>

<body>
    <h1 class="titulo">Pala Store: PCs a tu medida</h1>
    <div id="productos">
        <h2 class="titulo">Nuestros productos</h2>
        <ul id="lista-componentes">
            <img width= "150" height="150" src=" {{url_for('css', filename=)}}">
            <li>Procesador Ryzen 9 7950x3d</li>
            <li>Placa de video Nvidia RTX 4090 24gb</li>
            <li>Motherboard Gigabyte X670E Aorus Master</li>
        </ul>
        <button id="boton-ver-mas">Ver más</button>
    </div>
    <footer>
        <p>Mail de contacto: pala_store_clientes@example.com</p>
        <p>Pala Store {{ year }}</p>
    </footer>
</body>
</html>
